#c{
    font-size: 25px;
    background-color: red;
    color:black;
    text-align: center;
    border: 3px solid black;
    float: right;
}
#calculator{
    border:2px solid black;
    width: calc(75px * 3 );
    display: flex;
    flex-wrap: wrap;
    gap:0;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    padding:0;
}

.input{
    
    color: rgb(199, 204, 206);;
    border-bottom: 2px solid white;
    font-size: 70px;
    width: calc(75px * 3);
    height:auto;
    border: none;
    background-color: grey;
    text-align: right;
    overflow: auto;
    overflow: hidden;
}
button{
    color:rgb(126, 121, 158);
    background-color: rgb(199, 204, 206);
    border: 1px solid black;
    width: 75px;
    height: 75px;
    cursor: pointer;
    font-size: 70px;
    font-weight: bold;
}

