*{
    border: none;
    padding: 0px;
    margin: 0px;
}
#all{
    height: 100vh;
    background-image: url(image.png);
    position:absolute;
}
#box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1{
    text-align: center;
    font-weight: 900;
    font-size: 10vh;
    background-color: lightgrey;
}
#box button{
    width: 100vw;
    height: 10vh;
    padding: 10px;
    margin: 15vh 0px 0px 0px;
    font-size: xx-large;
    font-weight: 800;
    color: rgb(235, 231, 231);
    background-color: darkgrey;
}
#box button:hover{
    color: black;
}